@import "tailwindcss";

@keyframes float-combined {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -10px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-20px, -10px);
  }
}

.float-combined-animation {
  animation: float-combined 5s ease-in-out infinite;
}

.tea-type-card,
.tea-flavor-card {
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 640px) {
  .tea-type-card,
  .tea-flavor-card {
    width: 100%;
  }
}